<div class="container">
    <h2 color = "#25033f">We're Happy to have you join us! Start Building your portfolio TODAY!</h2>
    <div>    
      <label color = "#25033f"><strong>Full Name</strong></label><br>
      <input required type = "text" [(ngModel)] = "newName"/><br><br>
      <label color = "#25033f"><strong>Username:</strong></label><br>
      <input type="text" [(ngModel)] = "newuserN" /><br>
      <br/>
      <label color = "#25033f"><strong>Password:</strong></label><br>
      <input type="password" [(ngModel)] = "pass"/><br/><br/>
      <button routerLink = "../login" value="user button" (click) = "createUser()" class="btn btn-success">Sign Up!</button><br><br>
    </div>
  </div>
  
  <a routerLink="../login" style="text-align: right; color: #000000;"><strong>Already have an account? Sign in!</strong></a>
