body{
    background-image: url("https://s3.envato.com/files/170596024/City_Background_Ny_4267x2133.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#layer{
  width: 400;
  height: 700px;
  z-index: -1;
  background-color: rgba(247,247,247, .65);
}