<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<div class="container">
  <nav class="nav nav-tabs">
      <!-- <a routerLink="/login">Login</a> -->
      <a routerLink='/home' class="nav-link">Home</a>
      <a routerLink='/directory' class="nav-link" (click) = "sessionCheck()">Stock Directory</a>
      <a routerLink="/portfolio" class="nav-link" (click) = "sessionCheck()">Portfolio</a>
      <a routerLink="/transaction-history" class="nav-link" (click) = "sessionCheck()">Transaction History</a>
      <a routerLink="/settings" class="nav-link" (click) = "sessionCheck()">Change Settings</a>
      <a routerLink="/logout" class="nav-link" (click) = "invalidateSession()">Logout</a>
      <a style = "margin-left: 230px" routerLink="/settings" class="nav-link"><i class="fas fa-user"></i> {{username | titlecase}}</a>
    </nav>
</div>