
<div id="layer">
<app-nav></app-nav>
<h2>Change Login Credentials</h2>

<label>Username: </label>
<input type="text" 
      [(ngModel)] = "userN"> <br><br>
<label>Old Password: </label>
<input type="password" 
      [(ngModel)] = "oldPassW"> <br><br>
<label>New Password: </label>
<input type="password"
      [(ngModel)] = "newPassW"><br><br>
<label>Confirm New Password: </label>
<input type="password" 
      [(ngModel)] = "confirmPassW"> <br><br>
<input type="submit" value="Save Changes" (click)="updateSettings()"/>

<br><br>
</div>



