<div id = "layer" class="container">
  <app-nav></app-nav>
  <h2>{{username | titlecase}}'s Stock Portfolio</h2>
  <div *ngIf="unsoldTransactions.length > 0; else NoStocks">
    <table class="table">
      <tr>
        <th>Transaction ID</th>
        <th>Sticker Symbol</th>
        <th>Shares</th>
        <th>Current</th>
        <th>Opening</th>
        <th>Bought For</th>
        <!-- <th>Selling For</th> -->
        <th>Total Return %</th>
        <th>Date</th>
        <th>Sell</th> 
        <!-- <th>status</th> -->
        <!-- <th>User(temp)</th> -->
      </tr>
      <!-- https://blog.angular-university.io/angular-2-ngfor/ -->
      <tr *ngFor = "let transaction of unsoldTransactions; let i = index">
                        <!-- use $ for interpolation-->
        <td>{{transaction.id}}</td>
        <td><a routerLink="../company" (click)= "getSymbol(transaction.symbol)">{{transaction.symbol}}</a></td>
        <td>{{transaction.shares}}</td>
        <td>{{transaction.current}}</td>
        <td>{{transaction.opening}}</td>
        <td>{{transaction.boughtFor}}</td>
        <!-- <td>{{transaction.sellingFor}}</td> -->
              <!--the percent pipe is amazing....-->
        <td>{{(transaction.current - transaction.boughtFor)/transaction.boughtFor | percent}}</td>
        <td>{{transaction.date | date}}</td>
        <td><input type="number" [(ngModel)] = "form[i]"
          style="max-width: 60px" class="form-control" (keyup) = "validateInput()">
        </td>
        <!-- <td>{{transaction.status}}</td> -->
        <!-- <td>{{transaction.user.userN}}</td> -->
      </tr>
    </table>
    <!-- type="submit" i think makes you able to hit enter to submit -->
    <div *ngIf = "submitButtonDisabled; else enabledSubmit">
      <button type="submit" value="Sell Stocks" (click)="sell()" class="btn btn-secondary" 
          style="text-align: right" routerLink="../transaction-history" disabled>
        Sell Stocks
      </button>
    </div>
    <ng-template #enabledSubmit>
      <button type="submit" value="Sell Stocks" (click)="sell()" class="btn btn-secondary" 
          style="text-align: right" routerLink="../transaction-history">
        Sell Stocks
      </button>
    </ng-template>

  </div>
  <ng-template #NoStocks>
    Sorry, but it seems you have no stocks to sell at the moment. Click <a routerLink="../directory">here</a>
    to see a list of stocks.
  </ng-template>

